# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_CORNEJOY_LEFT
    def_bool $(shields_list_contains,cornejoy_left)

config SHIELD_CORNEJOY_RIGHT
    def_bool $(shields_list_contains,cornejoy_right)